.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group
        = @group.name
      .chat-main__main-header__left-box__member-list
        Member :
        .chat-main__main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    .chat-main__main-header__edit
      = link_to "Edit", edit_group_path(@group), class: "chat-main__main-header__edit__botton"

  .chat-main__messages
    = render @messages
      

  .chat-main__form
    = form_for [@group, @message] do |f|
      .message_box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__send'
